h1
{
    color:darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-align: center;
    text-shadow:antiquewhite;
}
h2
{
    color:dodgerblue;
    text-align: center;
}
h3
{
    color: black;
    font-size: 25px;
}
h4
{
    color: black;
    font-size: 22px;
}
.ZAR{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color:coral;
}
.TRP{
    font-family: Arial, Helvetica, sans-serif;
    font:medium;
    color: black;
    text-align: left;
    background-color:coral;   
}
.CHORUS{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
    text-align: left;
    background-color:coral;
}
.FTZ{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color:coral;
}
.CHO{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color:coral;
}
.FCS{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color:coral;
}
d:hover {
    background-color:cadetblue;
    color:darkblue ;
  }
  table, td, th {  
    border: 5px solid darkblue;
    text-align: left;
  }
  table {
    border:5px;
    width: 100%;
  }
  th, td {
    padding: 15px;
  }
  tr:nth-child(even){
    background-color: beige;
  }
  tr:hover{
    color:darkblue;
    background-color: cadetblue;
  }
